.customers-content.admin {
  padding: 24px;
  height: calc(100vh - 100px);
  overflow-y: hidden;

  .content-container {
    height: max-content;
  }

  .customers {
    height: 100%;
    .pagination-container {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .customers-filter {
      width: 300px;

      .custom-input {
        height: 32px;
      }
    }

    .customers-list {
      width: 100%;
      border-radius: 12px;
      padding: 24px;
      border: 1px solid var(--gray-light);
      flex-direction: column;
      gap: 24px !important;
      flex-grow: 1;
      height: 100%;

      .data-table {
        flex: 1;
        overflow-y: auto;
        table {
          thead {
            th {
              padding: 8px 16px;
            }
          }
          tbody {
            td {
              padding: 14px 16px;
            }
          }
        }
  
        .edit-customer-btn {
          padding: 0;

          span {
            line-height: unset !important;
          }
          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}