.user-settings-modal {
  .import-btn {
    height: 48px;
    padding: 0 17px;
    border-radius: 12px;
    background-color: var(--gray-default);
    border-color: var(--gray-default);
    margin-top: 22px;
  }

  .file-action-btn {
    min-width: 120px;
  }

  .color-container {
    position: relative;

    .selected-color {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      position: absolute;
      z-index: 2;
      top: 46px;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}