.modal-wrap {
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.6);
    cursor: pointer;
    backdrop-filter: blur(4px);
  }

  .modal-content {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    padding: 0;
    background-color: var(--white);
    max-height: 75vh;
    border-radius: 20px;
    overflow: hidden;

    .modal-header {
      width: 100%;
      padding: 1.5rem 1.5rem 1.25rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12px;
      border-bottom: 1px solid var(--gray-light);

      .title-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .modal-title {
          letter-spacing: 0.5px;
          font-weight: 500;
          padding: 0;
          margin: 0;
        }
      }

      button {
        padding: 0;
      }
    }

    .modal-body {
      padding: 1.25rem 1.5rem;
      overflow-y: auto;
      flex-grow: 1;
    }

    .modal-footer {
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;
      border-top: 1px solid var(--gray-light);
    }
  }
}
