$main-font-size: 16px;
$main-font: 'EloquiaDisplay Regular';

html {
  font-size: $main-font-size;
  overflow-x: hidden;
}

body {
  font-family: $main-font;
  &.scroll-lock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding-right: 17px;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.custom-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.125rem;
    height: 0.125rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 0.1875rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

span.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  font-weight: normal;
  color: var(--primary-600);

  &.ic-loading {
    &:before {
      -webkit-animation: spinning 0.9s infinite linear;
      animation: spinning 0.9s infinite linear;
    }
  }
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  label {
    display: block;
    position: relative;
    z-index: 1;

    span.checkbox,
    span.radio {
      border: none;
      padding: 0;
      box-shadow: none !important;
    }
  }

  label, .custom-select, .custom-date-picker {
    &.w-50 {
      width: calc(50% - 8px);
    }
  }
}

.form-label {
  font-family: var(--font-medium);
  display: block;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-light);

  sup {
    top: -4px;
  }
}

.form-field {
  display: block;
  position: relative;
  z-index: 1;

  [class^="icon"] {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    &~input {
      padding-right: 2.5rem;
    }
  }

  [class*="eye-"] {
    path {
      fill: var(--primary-light);
    }
  }

  input.custom-input {
    height: 48px;
    width: 100%;
    padding: 14px 16px;
    font-family: var(--font-medium);
    font-size: 14px;
    color: var(--primary-default);
    background: var(--white);
    border: 1px solid var(--gray-default);
    -webkit-box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    border-radius: 12px;
    -webkit-transition: border-color .3s ease-in-out;
    -o-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;

    &:focus {
      border-color: var(--blue-default);
      box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px var(--blue-lighter);
    }
  }

  &.error {
    input {
      border-color: var(--pink-default);
      &:focus {
        border-color: var(--pink-default);
        box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px var(--pink-lighter);
      }
    }
  }

  &.disabled {
    span.name {
      color: var(--gray-default);
    }
    input {
      border-color: var(--gray-300);
    }
  }

  textarea.custom-input {
    width: 100%;
    padding: 14px 16px;
    resize: none;
    font-family: var(--font-medium);
    font-size: 14px;
    color: var(--primary-default);
    background: var(--white);
    border: 1px solid var(--gray-default);
    -webkit-box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    border-radius: 12px;
    -webkit-transition: border-color .3s ease-in-out;
    -o-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;

    &:focus {
      border-color: var(--blue-default);
      box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px var(--blue-lighter);
    }
  }

  &.error {
    input {
      border-color: var(--pink-default);
      &:focus {
        border-color: var(--pink-default);
        box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px var(--pink-lighter);
      }
    }
  }

  &.disabled {
    span.name {
      color: var(--gray-default);
    }
    input {
      border-color: var(--gray-300);
    }
  }
}

.flex-1 {
  flex: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.hoverable {
  cursor: pointer;
  * {
    cursor: pointer;
  }
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--gray-lighter);
  }
}

.modal-footer-button {
  min-width: 130px;
}

