@font-face {
  font-family: 'EloquiaDisplay ExtraBold';
  src: url('/src/assets/fonts/EloquiaDisplay-ExtraBold.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Black';
  src: url('/src/assets/fonts/EloquiaDisplay-Black.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Bold';
  src: url('/src/assets/fonts/EloquiaDisplay-Bold.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Italic';
  src: url('/src/assets/fonts/EloquiaDisplay-Italic.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Light';
  src: url('/src/assets/fonts/EloquiaDisplay-Light.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Medium';
  src: url('/src/assets/fonts/EloquiaDisplay-Medium.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Regular';
  src: url('/src/assets/fonts/EloquiaDisplay-Regular.otf');
}

@font-face {
  font-family: 'EloquiaDisplay SemiBold';
  src: url('/src/assets/fonts/EloquiaDisplay-SemiBold.otf');
}

@font-face {
  font-family: 'EloquiaDisplay Thin';
  src: url('/src/assets/fonts/EloquiaDisplay-Thin.otf');
}

@font-face {
  font-family: 'EloquiaText Bold';
  src: url('/src/assets/fonts/EloquiaText-Bold.otf');
}

@font-face {
  font-family: 'EloquiaText Italic';
  src: url('/src/assets/fonts/EloquiaText-Italic.otf');
}

@font-face {
  font-family: 'EloquiaText Light';
  src: url('/src/assets/fonts/EloquiaText-Light.otf');
}

@font-face {
  font-family: 'EloquiaText Medium';
  src: url('/src/assets/fonts/EloquiaText-Medium.otf');
}

@font-face {
  font-family: 'EloquiaText Regular';
  src: url('/src/assets/fonts/EloquiaText-Regular.otf');
}

@font-face {
  font-family: 'EloquiaText SemiBold';
  src: url('/src/assets/fonts/EloquiaText-SemiBold.otf');
}
