.vectors-wrapper {
  .vector-item-container {
    width: max-content;
    cursor: pointer;
  }
  .vector-item {
    cursor: pointer;
    white-space: nowrap;
    &.select-item {
      padding: 6px 15px;

      .vector-title {
        font-size: 14px !important;
      }
    }
  }

  .popover-content {
    padding: 10px 0;
    border-radius: 10px;
  }

  .vectors-container {
    max-height: 200px;
    overflow-y: auto;
  }
}
